/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

.header {
    margin-bottom: 1em;
}

.fab {
    float: right;
}

.centered-card {
    width: 50%;
    margin: auto;
    margin-top: 2em;
}

.left-align-card {
    width: 50%;
    margin-top: 2em;
}

.fullpage-card {
    width: 90%;
    margin: auto
}

.card-title {
    margin: auto; 
    color: #141719;
}

.stack-container {
    display: flex;
    flex-direction: column;
  }
  
.stack-container > * {
    width: 100%;
}

.content-title {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    text-decoration: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

.cardinfo-title { 
    color: #141719;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0px;
}

.form-input {
    margin-bottom: 10px;
}