/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.centered-card {
    width: 50%;
    margin: auto;
    margin-top: 2em;
}

.fullpage-card {
    width: 90%;
    margin: auto
}

.stack-container {
    display: flex;
    flex-direction: column;
  }
  
.stack-container > * {
    width: 100%;
}
