@import url('https://fonts.googleapis.com/css?family=Roboto');

.stack-container {
    display: flex;
    flex-direction: column;
  }
  
.stack-container > * {
    width: 100%;
}

.login-span {
    color: lightgray;
    text-align: center;
    font-size: 12px;
}